.idea/
.gradle/
build/
npm-debug.log
settings.gradle
*.iml
out/
client/build/
common/build/
manager/build/
activemq-data/
application.properties
classes/
.project 
.settings/ 
.classpath 
client/bin/ 
common/bin/ 
manager/bin/ 
.vscode/
config.json
*.swp
